.tab-fill{
    background-color: #A3a3a3;
    border: none;
    border-radius: 10px;

}

.form-block{
    background-color: #03095715;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    padding: 10px;
  }


.tab-content{
    border: none;
}

.book-btn{
    background-color: #030957;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 2px;
    float: right;
    width: 20%;
    height: 40px;
    margin: 20px;
    float: right;
  }


  .form-block{
    background-color: #03095715;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    padding: 10px;
  }
